version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: pg-demo-compose
    restart: always

    environment:
      POSTGRES_USER: demo_user
      POSTGRES_PASSWORD: demo_pass
      POSTGRES_DB: demo_db

    ports:
      - "5433:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
