services:
  db:
    image: postgres:15  
    container_name: pg-movie

    environment:
      POSTGRES_USER: demo_user
      POSTGRES_PASSWORD: demo_pass
      POSTGRES_DB: demo_db

    ports:
      - "5433:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: